.outer_container{
  position: absolute;
  width: 100%;
  height: 1500px;
  top: 0;
  background-color:rgba(0,0,0,0.7);
}
@media(max-width:980px){
  .outer_container{
height: 2100px;
  }
}
.modal_main_container{
  width:1000px;

  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  background-color:aliceblue;
  transform: translate(-50%,-50%);
  border: 2px solid black;
  border-radius: 7px;
  color: green;
}
.close_btn{
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 7px;
  background-color:rgba(0,0,0,0.3);
  color: #fff;
  left: 1160px;
  border:none;
top:-50px
}
.modal_btn{
  width: 60px;
  height: 60px;
 margin-top: 180px;
  background-color:lightslategrey;
  color: #fff;
border: transparent;
border-radius:75px ;
}

.comments{
  width: 40%;

  margin-top: 100px;
}
.comment{
  color: black;
  margin-top: 40px;
  margin-left:7px ;
  margin-right: 7px;
  padding: 5px;
}

.modal_span{
  color: #000;
}
.comment_container{
  width: 400px;
  height: 100px;
  display: flex;
  gap:15px;
  align-items: center;
}
.user_container{

  display: flex;
}
.form_title{
  color: cornflowerblue;
}
