body{

    background-color: whitesmoke;
}

.App {
    text-align: center;
  
    margin-top: 10px;
  }
  
  .App {text-align: center;
    display:flex;
  
    align-items: center;
    justify-content: center; 
     flex-wrap: wrap;
     gap: 20px;
  
  }
  
  
  ul{


    border: 1px solid transparent;
    border-radius: 7px;
    list-style: none;


   
  }
  span{
    color: #fff;
    font-weight: bold;
  }
  
  
  .favorites_btn{
    width: 80px;
    height: 40px;
    border-radius: 7px;
  }
  li{
    margin: 5px;
  }
  li:first-child{
    margin-top: 20px;
  }
  
  .active{
    color:cornflowerblue  !important;
    cursor: default;
  }
  h2{
    color: lightgray;
  }
  h4{
    font-size: 22px;
    &:hover{
      color: cadetblue;
    }
  }