.form_input{
  margin-top: 5px;
  width: 400px;
  height: 50px;
  background-color: lavender;
  border-radius: 5px;
}
.profile_form{
  height: 500px;
  background-color: aliceblue;
}
.profile_form_btn{
  margin-top: 7px;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  background-color: lavender;
  border: 1px solid grey;
}