.posts_container{
    width: 420px;
    height: 570px;
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
}

.posts_img{
    width: 100%;
    height: 320px;
}
.post_page_container{
    display: flex;
    flex-direction: column;
     column-gap: 50px;
}
.post_img_container{
    display: flex;
    flex-direction: column;
}
.svg{
     width: 2em; height: 2em;vertical-align: middle;fill:#000;overflow: hidden;
     position: absolute;top: 430px; left: 50px;cursor: pointer;
}
.posts_span{
    color: #000;
}
.user_img{
    width: 50px;
    height: 50px;
    border-radius:30px ;
    margin-left: 50px;
}
.user_container{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: start;
    gap:7px;
    align-items: center;
}
.comments_container{
    display: flex;
    gap: 7px;
    align-items: center;
   
}
.comment_user_name{
    font-size: 18px;
    font-weight: bold;
}
.comment_user_text{
    font-size: 16px;
    font-weight: 400;
    padding: 70px;
}
.showmore_btn{
    border-radius: 5px;
    background-color: transparent;
    border: none;
    color: dodgerblue;
    font-size: 18px;
    font-weight: 600;
}
.user_link{
    color: #000;
    text-decoration: none;
}