.message_input{
  width: 400px;
  height: 50px;
  border-radius: 7px;
  margin-top:10px;
  border-color: transparent;
outline: none;
;
}
.post_btn{
  margin-top: 10px;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  background-color: lavender;
  border-color:transparent ;
 box-shadow: black;
  margin-left: 5px;
  align-self: center;
}
.post_form{
  display: flex;
}