
.form{
    width: 348px;
    height: 45px;
   outline: cadetblue;
     position: relative;
 
    
}
.form_button{
    width: 44px;
    height: 20px;
    border-radius: 5px;
    
}
.error{
position: absolute;
top:500px;
left:7px;

}