.header{
  width: 100%;
  height: 90px;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  color: royalblue;
  text-decoration: none;
}
.cart{
  width: 40px;
  height: 30px;
  margin-top: 7px;
  border-radius: 7px;
}

.container{
  width: 500px;
  display: flex;
  color: cadetblue;


}
.button_container{
  width: 200px;
  height: 70px;

}
.profile_link{
  text-decoration: none;
  color: cadetblue;
  width: 250px;
  height: 70px;
}
.chat_link{
  text-decoration: none;
  color: cadetblue;
  width: 250px;
  height: 70px;

}
.profile_link h2{
  font-size: 20px;
  margin-top: 25px;
}
.chat_link h2{
  font-size: 20px;
  margin-top: 25px;
}