
.chat_wrapper{
  width: 500px;
}


.chat{
  width: 500px;
}

ul{
  width: 500px;
}

.text{
 background-color: white;
  border-radius: 5px;
  min-height: 50px;
  text-align: left;
  box-shadow: black;
  padding: 10px;
}
.follower_link{
  text-decoration: none;
  color: cornflowerblue;

}
.follower_link:hover{
  color: darkslateblue;
}