.svg{
  width: 2em; height: 2em;vertical-align: middle;fill: #000;overflow: hidden;
  cursor:pointer;margin-left: -250px;margin-bottom: 10px;
}
.post_container{
  width: 500px;
box-shadow: black;
  border-radius: 5px;
  margin-top: 7px;
  background-color: white;
}
.post_text{
  width: 70%;
}
.author_container{
  width: 100%;
  border-bottom: 1px solid grey;
  margin-left: -40px;
}
.avatar{
  width: 50px;
  height: 30px;
  border-radius: 20px;
}