
.avatar{
  width: 200px;
  height: 200px;
  border-radius: 90px;
  padding: 20px;
}
.header{
  width:100%;
  height: 200px;

}
.profile_wrapper{
  display: block;
  width: 100%;

}
.profile{
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
padding: 20px;

}
li{
  font-size: 20px;
}
.follower_link{
  text-decoration: none;
  color:purple;
}
.profile_container{
  display: flex;
  width: 70%;
  margin: 15px auto;
  text-align: left;

  border-radius: 5px;
  box-shadow: darkgrey;
  background-color: white;
}
.edit_btn{
  height: 50px;
  background-color: darkcyan;
  color:white;
  border-radius: 10px;
  border:1px solid transparent ;
  box-shadow: black;
  align-self: center;
}
.follower_link{
  color: lightseagreen;
  margin-left: 10px;
  display: block;

  align-self: center;

}

.follower_btn{
  width: 80px;
  height: 50px;
  border-radius: 5px;
  align-self: center;

}
ol{
  list-style: none;
}
.follower_list{
  width: 700px;
  display: flex;
  align-items: baseline;
justify-content: center;
  justify-self: center;
  padding: 20px;
}
.follower_img{
  width: 70px;
  height: 70px;

}