.message_input{
  width: 400px;
  height: 50px;
  border-radius: 7px;
background-color: white;
  border-color:transparent ;
  box-shadow: black;
  outline-color: gainsboro;

}
.message_btn{
  border-radius: 5px;
  align-self: center;
  background-color: cornflowerblue;
  width: 70px;
  height: 40px;
  margin-left: 5px;
  border:1px solid grey;

}
.message_form{
  display: flex;
}